@{
    ViewData["Title"] = "About";
}

<section id="section1">
    <div class="container">
        <h1>Access<span style="color: rgb(255, 35, 90);">ibly</span>.</h1>
        <div id="landing-blurb">
            <p style="font-size: 1.33333rem; line-height: 2rem;">A location review platform for people with disability to share and discover places tailored to individual access needs.</p>
            <p style="font-size: 1.33333rem; line-height: 2rem;">Coming soon-ish! Sign up for updates on our release <img src="~/images/welcome-emoji.png" alt="person waving hi" style="width: 1em"></p>
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://memeteam.us18.list-manage.com/subscribe/post?u=68b9e32bd56b0fa2ba772e5d0&amp;id=348a583d55" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL">Email Address</label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="width: 100%">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_68b9e32bd56b0fa2ba772e5d0_348a583d55" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </form>
        </div>
        <!--End Signup-->
    </div>
    </div>
</section>

<section id="section2">
    <div class="container">
        <h2>How it works</h2>
        <div class="flex-four-grid">
            <div class="feature-container">
                <img src="~/images/search.png" />
                <div class="feature-content">
                    <h3 class="feature-header">Search</h3>
                    <p>Search for specific locations with the accessibility features you require.</p>
                </div>
            </div>
            <div class="feature-container">
                <img src="~/images/rate.png" />
                <div class="feature-content">
                    <h3 class="feature-header">Rate</h3>
                    <p>Join our global community by rating new locations on our map with tags and descriptions.</p>
                </div>
            </div>
            <div class="feature-container">
                <img src="~/images/filter.png" />
                <div class="feature-content">
                    <h3 class="feature-header">Filter</h3>
                    <p>Filter the map to discover places with specific accessibility features.</p>
                </div>
            </div>
            <div class="feature-container">
                <img src="~/images/discover.png" />
                <div class="feature-content">
                    <h3 class="feature-header">Discover</h3>
                    <p>Browse our interactive map to discover accessible places around the world.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section3">
    <div class="container">
        <h2>How to use Accessibly</h2>
        <div class="mockup"><img width="977" height="524" src="~/images/mockup.png"></div>
        <!--div class="responsive-video"><iframe width="977" height="524" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div-->
        <div class="flex-three-grid">
            <div class="flex-three-container">
                <img src="~/images/green-pin.png" alt="Green pin" />
                <h3 class="legend-header">Accessible</h3>
                <p>A green pin on our map represents an <b>accessible</b> location. These are places with full access, where we can get in, party, and go home with no problem.</p>
            </div>
            <div class="flex-three-container">
                <img src="~/images/amber-pin.png" alt="Amber pin" />
                <h3 class="legend-header">Partially Accessible</h3>
                <p>An amber pin on our map represents a location that is <b>partially accessible</b>. Amber locations often have alternative entrances or limited access within the space, such as steps to the bar area.</p>
            </div>
            <div class="flex-three-container">
                <img src="~/images/red-pin.png" alt="Red pin" />
                <h3 class="legend-header">Not Accessible</h3>
                <p>A red pin on our map represents a location that is <b>not accessible</b>. Find a red pin on our map? Why not tweet <a href="http://twitter.com/AccessiblyAU">@@AccessiblyAU</a> about it and let’s make change happen.</p>
            </div>
        </div>
    </div>
</section>

<section id="section4" class="has-bg-img" style="background-image: url('/images/bg-richmond-edit.jpg')">
    <div class="container"><a href="home/index" class="explore-call-to-action"><h2>Start exploring</h2></a></div>
</section>

<section id="section5">
    <div class="container">
        <h2>Our impact</h2>
        <div class="flex-three-grid">
            <div class="flex-three-container">
                <img src="~/images/gradient-74.png" alt="74" />
                <h3>Cities</h3>
            </div>
            <div class="flex-three-container">
                <img src="~/images/gradient-1111.png" alt="1111" />
                <h3>Locations Pinned</h3>
            </div>
            <div class="flex-three-container">
                <img src="~/images/gradient-1.png" alt="1" />
                <h3>Mission</h3>
            </div>
        </div>
    </div>
</section>

<section id="section6">
    <div class="container">
        <h2>Coming soon...</h2>
        <ul><li>Interactive map</li><li>Create your own profile</li><li>Find new places accessible to you</li></ul>
        <p>Interested in beta testing? <a href="mailto:sayhellotoalexandra@gmail.com?subject=Interested Beta Tester">Please reach out to us!</a> <img src="~/images/starstruck-emoji.png" alt="starstuck" style="width: 1em">
    </div>
    <div class="flex-three-grid">
        <div class="flex-three-container">
            <a href="https://www.instagram.com/p/BrBrwIJneI9/"> <img src="~/images/insta-thumb-4.jpg" alt="Our startup" /></a>
        </div>
        <div class="flex-three-container">
            <a href="https://www.instagram.com/p/BqGdEZCA3fV/"><img src="~/images/insta-thumb-1.jpg" alt="Our technology" /></a>
        </div>
        <!--div class="feature-container">
          <a href="https://www.instagram.com/p/BqZGjklnTPh/"><img src="~/images/insta-thumb-2.jpg"/></a>
        </div-->
        <div class="flex-three-container">
            <a href="https://www.instagram.com/p/BqvhoqPnxeh/"> <img src="~/images/insta-thumb-3.jpg" alt="Our ambassadors" /></a>
        </div>
    </div>
</section>

<section id="footer">
    <div class="container">
        <p>A huge shoutout goes to everyone who are making Accessibly possible. Together, we are helping each other go places accessibly.</p>
        <div class="footer-socials">
            <a href="https://facebook.com/AccessiblyAU" title="Follow us on Facebook!"><img src="~/images/facebook-icon.png" alt="Accessibly on Facebook" /></a>
            <a href="http://www.twitter.com/AccessiblyAU" title="Follow us on Twitter!"><img src="~/images/twitter-icon.png" alt="Accessibly on Twitter" /></a>
            <a href="http://www.instagram.com/AccessiblyAU" title="Follow us on Insta!"><img src="~/images/instagram-icon.png" alt="Accessibly on Instagram" /></a>
            <a href="http://www.linkedin.com/company/AccessiblyAU" title="Follow us on LinkedIn!"><img src="~/images/linkedin-icon.png" alt="Accessibly on LinkedIn" /></a>
        </div>
    </div>
</section>

<!--for signup form-->
<script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
