.container { margin-right: auto; margin-left: auto; padding: 0 3rem; }

h1, h2, h3, h4, h5, button {font-family: "Poppins", sans-serif;font-weight: 700;font-style: normal;}
p, label, li {font-family: "PT Serif", serif;font-weight: 400;font-style: normal;}
a {font-family: "PT Serif", serif;font-weight: 700;font-style: normal;}
.bold,.regular,.regular_italic { font-family: 'Open Sans', Arial, sans-serif; }
.serif_bold,.serif_regular,.serif_regular_italic { font-family: Lora,Times, sans-serif; }
.regular,.regular_italic,.serif_regular,.serif_regular_italic { font-weight: 400; }
.bold,.serif_bold { font-weight: 700; }
.bold,.regular { font-style: normal; }
.regular_italic,.serif_regular_italic { font-style: italic; }

dl,ol,ul { margin-bottom: 1.667rem; }

body {
  font-size: 18px;
  line-height: 1.667;
  font-family: 'Open Sans',Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #061626; }

a { transition: all .5s ease-out; text-decoration: none; color: #1573dd; }
a:hover { color: rgb(255, 35, 90); }

ol,ul { margin-left: 48px; }
ol ol,ol ul,ul ol,ul ul { margin-left: 1.667rem; margin-bottom: 0; }

em { font-style: italic; }

input, textarea {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  transition: all .5s ease-out; }

textarea { height: 160px; padding-top: 5px; }

input:focus,textarea:focus { border: 1px solid #bbb; color: #000; }
input:hover,textarea:hover { border: 1px solid #bbb; }
input::placeholder { opacity: 1; }
input:focus, input:hover { color: #000;  background: #e6e6e6; }

section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-bottom: 0.444rem;
  height: auto;
  min-height: auto;
  align-items: center; }

.container { min-height: 25vh; align-content: stretch; align-items: stretch; }
#section4 .container { min-height: 50vh}

p, label, button { font-size: 1.111rem; line-height: 1.667; margin-bottom: 1.667em; }
h1 { font-size: 3.556rem; line-height: 3.8rem; }
h2 { font-size: 2.222rem; line-height: 2.667rem; }
h3 { font-size: 1.556rem; line-height: 2.222rem; }
h4 { font-size: 1.333rem; line-height: 2rem; }
h5 { font-size: 1.111rem; line-height: 1.778rem; }
h6 { font-size: 1rem; line-height: 1.66667rem; }
form { display: block; }
#landing-blurb { padding-top: 1.333rem; }
#section1 { padding-top: 4rem; padding-bottom: 4rem; }
#section2 { background-color: #000000; padding-top: 6.667rem; padding-bottom: 6.667rem; }
#section3 { background-color: #ffffff; padding-top: 6.667rem; padding-bottom: 6.667rem; }
#section4 { background-color: #020202; padding-top: 6.667rem; padding-bottom: 6.667rem; }
#section5 { background-color: #000000; padding-top: 6.667rem; padding-bottom: 6.667rem; }
#footer { padding-top: 4.444rem; padding-bottom: 4.444rem; background-color: #181c1f; }
#footer p { font-size: 1.111rem; color: rgb(214, 214, 214); }

audio,video { max-width: 100%; }

#section2 h2 { color: rgb(255, 255, 255) }
#section5 h2 { color: rgb(255, 255, 255); text-align: center; }
#section5 h3 { color: rgb(255, 255, 255); text-align: center; }

button {
  color: #000;
  background: #ffd300;
  border: 0 solid #000;
  text-align: left;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all .5s ease-out; }
button:hover { background: rgb(239, 156, 2); }

.responsive-video { position: relative; padding-bottom: 56.25%; height: 0; }
.responsive-video iframe { position: absolute; height: 100%; width: 100%; }
.mockup { width: 100%; display: block; text-align: center; }
.mockup img { width: 100%; height: auto; max-width: 1200px }

img.emoji {
  display: inline;
  border: none;
  box-shadow: none;
  height: 1em;
  width: 1em;
  margin: 0 .07em;
  vertical-align: -0.1em;
  background: none;
  padding: 0;
}

.has-bg-img {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

a.explore-call-to-action {
  background: rgb(255, 35, 90);
  display: inline-block;
  padding: 0 1em;
  color: rgb(255, 255, 255);
  top: 50%;
}

a.explore-call-to-action:hover { background-color: rgb(205,5,60); }

.flex-four-grid {
  padding-top: 0.444rem;
  padding-bottom: 0.889rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-four-grid > .feature-container {
  align-items: center;
  color: rgb(232,232,232);
  flex: 1;
  padding-right: 1em;
  padding-left: 1em;
}

.feature-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center
}

.flex-three-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}

.flex-three-grid > .flex-three-container {
  align-items: center;
  flex: 1;
  padding-right: 1em;
  padding-left: 1em
}

.flex-three-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center
}

/* XL */
@media screen and (min-width: 992px) {
  h1 { font-size: 6.222rem; line-height: 6.778rem }
/*  h1 { font-size: 3.27rem; line-height: 2.76rem; } */
  h2 { font-size: 2.04rem; line-height: 2.45rem; }
  h3 { font-size: 1.28rem; line-height: 1.92rem; }
  h4 { font-size: 1.28rem; line-height: 1.92rem; }
  h5 { font-size: 1.11rem; line-height: 1.78rem; }
  h6 { font-size: 1rem; line-height: 1.67rem; }}

/* MD */
@media screen and (min-width:768px) and (max-width:991.9px) {
 h1 { font-size: 5.333rem; line-height: 6.222rem; }
 /* h1 { font-size: 3.06rem; line-height: 2.58rem; } */
 h2 { font-size: 1.96rem; line-height: 2.35rem; }
 h3 { font-size: 1.23rem; line-height: 1.84rem; }
 h4 { font-size: 1.23rem; line-height: 1.84rem; }
 h5 { font-size: 1.11rem; line-height: 1.78rem; }
 h6 { font-size: 1rem; line-height: 1.67rem; }
 .container { padding: 0 1.111rem; }}

/* SM */
@media screen and (min-width:544px) and (max-width:767.9px) {
  h1 { font-size: 4.444rem; line-height: 5.111rem; }
  /* h1 { font-size: 2.92rem; line-height: 2.46rem; } */
  h2 { font-size: 1.87rem; line-height: 2.24rem; }
  h3 { font-size: 1.2rem; line-height: 1.8rem; }
  h4 { font-size: 1.2rem; line-height: 1.8rem; }
  h5 { font-size: 1.11rem; line-height: 1.78rem; }
  h6 { font-size: 1rem; line-height: 1.67rem; }
  body, html { line-height: 1.556; }
  #landing-blurb { padding-top: 0.444rem; }
  #section1 { padding-top: 3.556rem; padding-bottom: 3.556rem; }
  .flex-four-grid { flex-direction: column; }
  .flex-three-grid { flex-direction: column; }}

/* XS */
@media screen and (max-width:543.9px) {
/*  h1 { font-size: 1.88889rem; line-height: 2.22222rem; } */
  h1 { font-size: 2.77rem; line-height: 2.34rem; }
  h2 { font-size: 1.78rem; line-height: 2.13rem; }
  h3 { font-size: 1.17rem; line-height: 1.76rem; }
  h4 { font-size: 1.17rem; line-height: 1.76rem; }
  h5 { font-size: 1.11rem; line-height: 1.78rem; }
  h6 { font-size: 1rem; line-height: 1.67rem; }
  body, html { line-height: 1.556; }
  #landing-blurb { padding-top: 0; }
  .flex-four-grid { flex-direction: column; }
  .flex-three-grid { flex-direction: column; }
  form { display: block; }
  .container { padding: 0 1.111rem; }}

.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circle p {
  font-color: rgb(232, 232, 232);
}